* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cormorant Upright";
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden; /* 防止水平滚动 */
}

/* --------------------------------------------- Header and Nav Bar--------------------------------------------- */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 5%; /* 使用百分比作为内边距 */
    background: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: relative;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 2%; /* 使用百分比作为内边距 */
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 1.375rem; /* 使用rem单位来设置字体大小 */
    font-weight: 400;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: #cfa45a;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #cfa45a;
    position: absolute;
    bottom: -3px;
    left: 20px;
}

/*  ------------------------------------------------Header and Nav Bar Ends -------------------------------------------- */

/* ---------------------------------------------------Body With Animation Part----------------------------------------------- */
body {
    min-height: 10vh;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 800px;
    min-height: 10vh;
    backdrop-filter: blur(1px);
}

.content {
    margin-top: 2%;
    max-width: 90%; /* 使用百分比 */
    padding: 2%; /* 使用百分比作为内边距 */
    background-image: url("img/2.jpeg"), max-width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.content h1 {
    font-size: 3.4375rem; /* 使用rem单位来设置字体大小 */
    line-height: 1.0909;
    color: #fff;
    margin-bottom: 1.5625rem; /* 使用rem单位来设置间距 */
}

.content p {
    margin: 0.625rem 0 0.9375rem; /* 使用rem单位来设置间距 */
    font-size: 2rem; /* 使用rem单位来设置字体大小 */
    color: #000;
    font-weight: bold;
    animation-delay: 0.5s;
    background-color: rgb(181, 248, 214);
}

.content .login-btn {
    padding: 0.4375rem 1.25rem; /* 使用rem单位来设置内边距 */
    font-size: 1.4375rem; /* 使用rem单位来设置字体大小 */
    animation-delay: 1s;
    margin-bottom: auto;
}

/* 自适应图片 */
.fluid-image {
    max-width: 100%;
    height: auto;
}

/*  ------------------------------------------------End of Body With Animation Part --------------------------------------------- */

/* --------------------------------------------------------Footer Part---------------------------------------------------------- */
footer {
    width: 100%;
    height: auto;
    padding: 1.25rem 0;
    background-color: #ffffff;
}

.container {
    width: 100%;
    max-width: 82.5rem; /* 使用rem单位来设置最大宽度 */
    margin: 0 auto;
    padding: 0 0.9375rem; /* 使用rem单位来设置内边距 */
}

.wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.wrapper .footer-widget {
    width: calc(20% - 1.875rem); /* 使用rem单位来设置宽度 */
    margin: 0 1rem; /* 使用rem单位来设置外边距 */
    padding: 0 1rem; /* 使用rem单位来设置内边距 */
}

.wrapper .footer-widget:nth-child(1) {
    width: calc(40% - 2.5rem); /* 使用rem单位来设置宽度 */
    margin-right: 1.25rem; /* 使用rem单位来设置外边距 */
}

.wrapper .footer-widget .logo {
    margin-bottom: 1.875rem; /* 使用rem单位来设置间距 */
    vertical-align: middle;
}

.wrapper .footer-widget p {
    margin-bottom: 1.875rem; /* 使用rem单位来设置间距 */
    font-size: 1.0625rem; /* 使用rem单位来设置字体大小 */
    line-height: 1.5rem;
    text-align: center;
}

.wrapper .footer-widget .socials {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.wrapper .footer-widget .socials li {
    list-style: none;
}

.wrapper .footer-widget .socials li a {
    width: 1.375rem;
    height: 1.375rem;
    margin-right: 0.625rem;
    color: #ffffff;
    background-color: rgba(183, 153, 108, 0.642);
    border-radius: 50%;
    font-size: 1.25rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-out;
}

.wrapper .footer-widget .socials li a:hover {
    background-color: #6b34d2;
}

.wrapper .footer-widget h6 {
    color: #585978;
    margin: 0; /* 调整页脚小部件标题的间距 */
    font-size: 1.25rem; /* 使用rem单位来设置字体大小 */
    font-weight: 600;
}

.wrapper .footer-widget .links li {
    list-style: none;
}

.wrapper .footer-widget .links li a {
    color: #585978;
    font-size: 1rem; /* 使用rem单位来设置字体大小 */
    text-decoration: none;
    text-transform: capitalize;
    line-height: 1.5rem;
    transition: all 0.3s ease-out;
}

.wrapper .footer-widget .links li a:hover {
    color: #cfa45a;
}

.copyright {
    padding: 1.25rem 0;
    border-top: 1px solid rgba(88, 89, 120, 0.4);
}

.copyright p {
    color: rgba(88, 89, 120, 0.6);
    font-size: 1.25rem; /* 使用rem单位来设置字体大小 */
    font-weight: 500;
    text-align: center;
}

/* 媒体查询，适用于小屏幕，例如手机 */
@media screen and (max-width: 768px) {
    #header {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 1rem; /* 减小上下内边距 */
        margin: 1rem;
    }

    #navbar {
        flex-direction: column;
        text-align: center;
        padding-left: 1rem;
    }

    #navbar li {
        margin: 0.5rem 0.2rem; /* 调整导航项之间的间距 */
        font-size: 0.75rem; /* 使用rem单位来设置字体大小 */
    }

    .content {
        padding: 0.5rem; /* 调整内容部分的内边距 */
    }

    footer {
        align-items: center;
        text-align: center;
    }

    .container {
        flex-direction: column;
    }

    .wrapper {
        flex-direction: column;
        align-items: center;
    }

    .footer-widget {
        display: flex;
        text-align: center;
        align-items: center;
        margin: 0.3125rem 0;
        width: auto;
    }

    .footer-widget p {
        white-space: nowrap;
    }

    .footer-widget .socials {
        align-items: center;
    }

    .footer-widget h6 {
        margin: 0;
        white-space: nowrap;
        text-align: center;
        align-items: center;
        font-size: 1.25rem;
        font-weight: 600;
    }

    .footer-widget .logo {
        width: 1.25rem;
    }

    .footer-widget .links {
        text-align: center;
    }

    .footer-widget .links li {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0.3125rem 0.625rem;
        white-space: nowrap;
        text-align: center;
    }

    .copyright {
        margin-top: 0.3125rem;
    }
}

/* 在小屏幕上增加标题和段落的字体大小 */
@media screen and (max-width: 480px) {
    .content h1 {
        font-size: 1.125rem; /* 使用rem单位来设置字体大小 */
    }

    .content p {
        font-size: 0.625rem; /* 使用rem单位来设置字体大小 */
    }
}
