/* 适应小屏幕（移动设备） */
@media (max-width: 767px) {
    body {
        font-size: 16px;
    }
    .welc {
        font-size: 24px;
        padding: 20px;
    }
    .service h1 {
        font-size: 24px;
    }
    .service p {
        font-size: 16px;
    }
}

/* 适应中等屏幕（平板设备） */
@media (min-width: 768px) and (max-width: 991px) {
    body {
        font-size: 18px;
    }
    .welc {
        font-size: 28px;
        padding: 40px;
    }
    .service h1 {
        font-size: 28px;
    }
    .service p {
        font-size: 18px;
    }
}
