/* 初始样式适用于小屏幕 */
body {
    font-size: 16px;
}

@media screen and (max-width: 768px) {
    #header a img {
        width: 80%; /* 设置 logo 在小屏幕上的宽度 */
    }
}

/* 在媒体查询中添加更大屏幕的样式 */
@media (min-width: 768px) {
    body {
        font-size: 18px;
    }
}
/* 适应小屏幕（移动设备） */
@media (max-width: 767px) {
    body {
        font-size: 16px;
    }
    .welc {
        font-size: 24px;
        padding: 20px;
    }
    .service h1 {
        font-size: 24px;
    }
    .service p {
        font-size: 16px;
    }
}

/* 适应中等屏幕（平板设备） */
@media (min-width: 768px) and (max-width: 991px) {
    body {
        font-size: 18px;
    }
    .welc {
        font-size: 28px;
        padding: 40px;
    }
    .service h1 {
        font-size: 28px;
    }
    .service p {
        font-size: 18px;
    }
}
